.margin-top-20{
    margin-top: 20px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-20{
    margin: 20px;
}
#background {
    position:fixed; left: 0px;
    top: 0px; background-size:100%;
    width:100%; height:100%;
    -webkit-user-select: none; -khtml-user-select: none;
    -moz-user-select: none; -o-user-select: none; user-select: none;
    z-index:-1;
    filter: blur(16px);
}
